<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>title</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <h1>Pig Latinizer!</h1>-->
<!--    <h2>Enter your phrase:-->
<!--      <form method="post" action="/">-->
<!--        <textarea name="user_phrase"></textarea>-->
<!--    </h2>-->
<!--        <button type="submit" value="submit">Submit</button>-->
<!--      </form>-->
<!--  </body>-->
<!--</html>-->

<body>
  <h1>Pig Latinizer</h1>
  <h2>Welcome to the "Pig Latinizer!</h2>
  <form action="/piglatinize" method="post">
    <p>Enter your phrase: <input type="text" name="user_phrase" value""></p>
    <input type="submit" name="submit" value="Submit">
  </form>
  
</body>